.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* landing page css*/

.banner-text {
  background-color: #282c34;
  opacity: .9;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 25px;
}

.banner-text h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}

.banner-text h2 {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}

.banner-text h3 {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 0;
}

.social-links {
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin: auto;
  padding-right: 5px;
  padding-left: 5px;
}

.social-links i {
 color: white;
 font-size: 5em;
}

.project-card-text p {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.project-card-text h5 {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding-top: 10px;
}

/* Resume page css*/
.resume-right-col {
  background-color: #282c34;
  color: white;
  opacity: .9;
  margin: auto;
  border-radius: 10px;
  padding: 2em;
}

.resume-left-col {
  background-color: white;
  color:#282c34;
  opacity: .9;
  margin: auto;
  border-radius: 10px;
  padding: 2em;
}

.resume-left-col h1 {
  color:#282c34;
  padding-left: 5px;
}

.resume-left-col h4 {
  color:#282c34;
  padding-left: 5px;
}

/* projects page css*/
.projects-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: "10px" 
}

